[submodule "bundle/clang_complete"]
	path = bundle/clang_complete
	url = git://github.com/Rip-Rip/clang_complete.git
[submodule "bundle/supertab"]
   path = bundle/supertab
   url = git://github.com/ervandew/supertab.git
[submodule "bundle/snipmate.vim"]
   path = bundle/snipmate.vim
   url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/UltiSnips"]
   path = bundle/UltiSnips
   url = git://github.com/vim-scripts/UltiSnips.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-sensible"]
   path = bundle/vim-sensible
   url = git://github.com/tpope/vim-sensible.git
